<div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24"><p>

<h1>Edit Exercise</h1>
<p>
<form action="/" method="POST" class="pure-form">
  <fieldset>
    <label for="name">Exercise:</label>
    <input id="name" type="text" name="name" id="name" value="{{name}}" required>
    <label for="name">Repetitions:</label>
    <input id="reps" type="text" name="reps" id="reps" value="{{reps}}" required>
    <label for="weight">Weight:</label>
    <input id="weight" type="text" name="weight" id="weight" value="{{weight}}" required>
    <select name="lbs" id="lbs">
      {{#if lbs}}
      <option value="1">pounds</option>
      <option value="0">kilograms</option>
      {{else}}
      <option value="0">kilograms</option>
      <option value="1">pounds</option>
      {{/if}}
    </select>
    <label for="date">Date:</label>
    <input id="date" type="text" name="date" placeholder="YYYY-MM-DD" value="{{date}}" required>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" id="addExercise" value="Update" class="pure-button pure-button-primary">
  </fieldset>
</form>
</p>

</p></div>
<div class="pure-u-1-24"></div>
</div>
